{{>nav}}
<section style="font-family: Calibri; font-size: 18px; margin: 10px">
    <h1 style="text-align: center;">A continuación te mostramos los productos que tenemos disponibles:</h1>
{{#if products.length}}
  {{#each products }}
  <div style="width: 600px; display: inline-block">
    <ul style="border: 1px solid #000">
      <h1 style="font-style: italic;">- {{this.title}} -</h1>
      <p><b>Precio:</b> usd ${{price}}</p>
      <p><b>Descripción:</b> {{this.description}}</p> <br>
    </ul>
  </div>
  {{/each}}
{{else}}
  <h1>Lo sentimos! Aún no hay productos para mostrar...</h1>
{{/if}}
</section>

