{{>nav}}
    <h1>A continuación te mostramos los productos que tenemos disponibles</h1>
{{#if products.length}}
  {{#each products }}
  <div>
    <ul>
      <h1>{{this.title}}</h1>
      <h2>Precio: ${{price}}</h2>
      <h3>Descripción: {{this.description}}</h3>
    </ul>
  </div>
  {{/each}}
{{else}}
  <h1>Lo sentimos! Aún no hay productos para mostrar...</h1>
{{/if}}

