{{!-- {{>nav}} --}}
<section style="font-family: Calibri; text-align: center">

<h2>Complete el siguiente formulario para agregar un nuevo producto:</h2>

<form id="form" style="width: 200px; margin-bottom: 10px; margin: 0 auto">
    <label style="margin-bottom: 5px; font-size: 18px">Nombre del producto: </label><input style="margin-bottom: 10px" type="text" id="inputName">
    <label style="margin-bottom: 5px; font-size: 18px">Precio: </label><input style="margin-bottom: 10px" type="text" id="inputPrice">
    <input type="submit" value="Enviar" style="margin: 0 auto; font-size: 14px">
</form>

<p id="formProducts"></p>

</section>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/main.js"></script>